
/* Global Styles */
body {
    font: normal 100% hack sans-serif;
    margin: 1rem auto;
    background-color: #2b2b2b;
    color: #e5e5e5;
    text-align: left;
}

article {
    background-color: #3c3c3c;
}

a[href] {
    color: #568255;
    text-decoration: none;
}
a[href]:hover {
    color: #449944;
    text-decoration: underline;
}
body {
    margin-left: 1em;
}



nav ul {
  list-style: none;
  display: flex;
  align-items: center; /* Center the items vertically */
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 1rem; /* Add spacing between the navigation items */
}

nav a {
  text-decoration: none;
  color: #333; /* Change the link color */
  font-weight: bold;
  font-size: 2rem; /* Adjust the font size */
  transition: color 0.3s ease; /* Add a smooth color transition */
}

nav a:hover {
  color: #ff6347; /* Change the link color on hover */
}



/* Footer Styles */
footer {
    position: fixed;
    left: 95rem;
    bottom: 0;
    width: 100%;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #3c3c3c;
}

th {
    background-color: #3c3c3c;
    color: #e5e5e5;
}

tr:nth-child(even) {
    background-color: #2b2b2b;
}

tr:hover {
    background-color: #3c3f41;
}

/* Modal Styles */
.FenetreModale {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.5);
}

.FenetreModale-dialog {
    max-width: 60%;
    max-height: 40%;
    margin: 5% auto;
    background-color: #2b2b2b;
    border: 1px solid #3c3f41;
    padding: 1%;
    overflow: auto;
}

/* Form Styles */
:required {
    border-color: #ff6347;
}

.form-recherche {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-recherche input {
    flex-grow: 2;
    background-color: #4d4d4d;
    color: #e5e5e5;
    border: 1px solid #4d4d4d;
    margin-top: 0.5rem;
}

/* Grid Form Styles */
.grid-form {
    display: grid;
    grid-template-columns: [first] 1fr [control] 1fr 1fr 2fr 1fr [end];
    row-gap: 0.5em;
    column-gap: 0.5em;
}

.grid-form > nav,
.grid-form > small {
    grid-column: first / end;
    grid-row: auto;
}

.grid-form > label {
    grid-column: first;
    grid-row: auto;
}

.grid-form > input,
.grid-form > span,
.grid-form > textarea {
    grid-column: control / end;
    grid-row: auto;
    background-color: #4d4d4d;
    color: #e5e5e5;
    border: 1px solid #4d4d4d;
}

.grid-form span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid-form span > * {
    margin-right: 0.5em;
}

.grid-form span > input {
    flex-grow: 1;
}

.grid-form > section {
    grid-column: first / end;
    grid-row: auto;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 0.5em;
    column-gap: 0.5em;
}

.grid-form > section > .new_row {
    grid-column: first;
    grid-row: auto;
}

.grid-form > section > h3 {
    grid-column: first / end;
    grid-row: auto;
}

/* Other Styles... */

@media (max-width: 1200px) {
  .grid-form > section {
    display: grid;
    grid-template-columns: [first] 1fr 1fr [end];
  }
}

@media (max-width: 500px) {
  .grid-form {
    display: grid;
    grid-template-columns: [first control] 1fr [end];
  }

  .grid-form > section {
    grid-template-columns: subgrid;
  }
}

@media print {
  nav,
  aside,
  h2 + form,
  a {
    display: none;
  }
}

